.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a3a9aa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: black;
    padding-top: 20px;
    margin-top: 55px;
  }
